/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    .texto{
        -fx-background-color: #00000000; 
        -fx-padding: 5 22 5 22;   
        -fx-border-color: #00000000;
        -fx-border-width: 2;
        -fx-background-radius: 0;
    }



    .fundo {
        -fx-background-color: #FFFFFF; 
        -fx-padding: 5 22 5 22;   
        -fx-border-color: #FFFFFF;
        -fx-border-width: 2;
        -fx-background-radius: 0;
        -fx-background-color: #FFFFFF;

    }
    
    
    .mudarBotao{
        -fx-border-width: 2;
        -fx-background-radius: 0;
        -fx-background-color: #66CDAA;
    }
}
