/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    
    
    .fundo {
        -fx-background-color: #FFFFFF; 
        -fx-padding: 5 22 5 22;   
        -fx-border-color: #FFFFFF;
        -fx-border-width: 2;
        -fx-background-radius: 0;
        -fx-background-color: #FFFFFF;
 
    }
    .solicitacao{
        width:2px;
        height:1px;

        -fx-background-image: url("solicitacao.png");
    }
}
